/*Passou*/
.olhos-brancos{
    background: url(../../img/olhosbrancos.jpg);
    background-size: 100%;
}
.passou{
    margin-top: 15%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:rgb(0, 0, 0) 2px 3px 5px;
}

.passou .continua{
    text-decoration: none;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow:rgb(0, 0, 0) 2px 3px 5px;
}


/*Game Over*/
.gameOver{
    background: url(../../img/gameover.jpg);
    background-size: 100%;
}
.game-over{
    margin-top: 9%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:rgb(0, 0, 0) 2px 3px 5px;
}
.game-over .fimDoJogo{
    font-size: 50px;
    color: red;
    text-shadow: rgb(0, 0, 0);
}
.gameOver .gameoverVoltar{
    text-decoration: none;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow:rgb(0, 0, 0) 2px 3px 5px;
}